<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-acuantsdk" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova Aacuantsdk Plugin</name>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Acuantsdk">
                <param name="android-package" value="Acuantsdk" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Acuantsdk.java" target-dir="src/com/soultutive/cordova/plugins/acuantsdk/" />
        <js-module name="Acuantsdk" src="www/Acuantsdk.js">
            <merges target="window.cordova.plugins.acuantsdk" />
        </js-module>
    </platform>

    <platform name="ios">
        <js-module name="Acuantsdk" src="www/Acuantsdk.js">
            <merges target="window.cordova.plugins.acuantsdk" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="Acuantsdk">
                <param name="ios-package" value="Acuantsdk"/>
            </feature>
        </config-file>

        <preference name="CAMERA_USAGE_DESCRIPTION" default="This app needs camera access"/>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="This app needs microphone access"/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>
        <source-file src="src/ios/AcuantContext.swift" />
        <source-file src="src/ios/AcuantProgressView.swift" />
        <source-file src="src/ios/AcuantTokenService.swift" />
        <source-file src="src/ios/Acuantsdk.swift" />
        <source-file src="src/ios/AlertView.swift" />
        <source-file src="src/ios/BaseNavigationController.swift" />
        <source-file src="src/ios/CheckConnection.swift" />
        <source-file src="src/ios/FaceLivenessCameraController.swift" />
        <source-file src="src/ios/File.swift" />
        <source-file src="src/ios/Project-Bridging-Header.h" />
        <source-file src="src/ios/Utils.swift" />
    </platform>
</plugin>